<section class="mainbar" data-ng-init="vm.toViewUser()">

  <div class="panel panel-primary">
    <div class="panel-heading">
			User View
    </div>
    <div class="panel-body">

      <form novalidate>
        <formly-form model="vm.user" fields="vm.formFields">
        </formly-form>
      </form>

      <hr/>
      <div>
        <a class="btn btn-success" href="/user/{{vm.user.id}}/edit">
          <i class="glyphicon glyphicon-edit"></i> Edit
        </a>
        <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove()" item="vm.user">
          <i class="glyphicon glyphicon-remove-circle"></i> Delete
        </a>
        <a class="btn btn-primary" href="/user">
          <i class="glyphicon glyphicon-list"></i> List Users
        </a>
      </div>

    </div>
  </div>

</section>
